<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="background-color: darkgreen;height: 130px;width: auto;margin: -10px;text-align: center;"><text style="color: white;font-size: 100px;">XYZ HOSPITAL</text></div>
    <div style="margin-top: 60px;"><text style="color: black;font-size: 40px;margin-left: 40%;font-family: sans-serif;font-weight: bold;">SERVER LOGIN</text></div>
    <form method="POST">
    <div style="margin-top: 30px;width:40%;background-color: lightgreen;text-align: center;margin-left: 30%;padding-bottom: 20px;padding-top: 10px;">
        <text style="color: black;font-size: 30px;font-family: sans-serif;font-weight: bold;">Server ID</text><br>
        <input style="height: 30px;width: 40%;margin-top: 5px;font-size: 25px;font-family: sans-serif;text-align: center;" name="id"><br><br>
        <text style="color: black;font-size: 30px;font-family: sans-serif;font-weight: bold;">Password</text><br>
        <input type="password" style="height: 30px;width: 40%;margin-top: 5px;font-size: 25px;font-family: sans-serif;text-align: center;" name="pass"><br><br>
        <button style="padding: 2px;border-radius: 5px;background-color: darkgreen;width: 20%;"><text style="font-size: 25px;font-family: sans-serif;font-weight: bold;color: white;">LOGIN</text></button>
    </div>
    </form>
</body>
</html>